<h1>Enviar consulta</h1>
<form action="">
    <ul>
        <li>
            <p>Nombre</p>
            <input type="text">
        </li>
        <li>
            <p>Telefono</p>
            <input type="text">
        </li>
        <li>
            <p>Domicilio</p>
            <input type="text">
        </li>
        <li>
            <p>Mensaje</p>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </li>
        <li>
            <button type="submit">Enviar</button>
        </li>
    </ul>
</form>